/* Reset CSS*/ 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Common */

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.mt-8px {
    margin-top: 8px;
}

.mt-16px {
    margin-top: 16px;
}

.mt-32px {
    margin-top: 32px;
}

.mb-16px {
    margin-bottom: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

/* Main */

#main {
    
}

/* HEADER */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: black;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: white; 
    text-transform: uppercase;
}

#nav li a {
    padding: 0 24px;
    line-height: 46.5px;
    text-decoration: none;
    display: block;
}

#nav, .subnav {
    list-style-type: none;
}

#header .mobile-menu:hover,
#nav > li:hover > a, 
#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
    transition: 0.5s;
}

#nav .subnav {
    display: none;
    position: absolute; 
    top: 100%;
    min-width: 160px; 
    background-color: #fff;
    color:black; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    display: block;
}

#nav .subnav a{
    color:black;
    line-height: calc(46.5px/2);
    padding: 8px 16px;
}

#header .mobile-menu,
#header .search-button {
    float: right; 
    line-height: 46.5px;
    padding: 0 24px;
    color: white; 
}

#header .search-button:hover {
    background-color: red;
    cursor: pointer;
}

/* SLIDER */

#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background: url(../img/slider/chicago.jpg)  top center / contain no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    /* left: 50%;
    transform: translateX(-50%); */
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    text-shadow: 0 0 4px black;
}

#slider .text-descripsion{
    padding-top: 24px ;
    padding-bottom: 48px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 4px black;
}

/* CONTENT */

#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

/* MEMBER */

#content .member-list {
    margin-top: 48px;
}


#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* TOUR SECTION */

.tour-section {
    background-color: black;
}

.tickets-list {
    background-color: white;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: white;
    margin-top: -2px;
}

.places-list {
    margin-top: 32px;
}

.places-item {
    width: calc(100%/3);
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


/* CONTACT */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
}

.contact-info i[class*="fas fa-"] {
    width: 32px;
}

.contact-info a {
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration:underline;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-submit-btn {
    float: right;
    background-color: black;
    color: white;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}

/* FOOTER */

#footer {
    padding: 64px 0;
    text-align: center;
    opacity: 0.6;
}

.socials-list i  {
    color: #000;
}

.socials-list i {
    font-size: 24px;
}

#footer p {
    padding: 24px 0;
}

#footer a {
    color: #000;
}

.socials-list i:hover {
    opacity: 0.5;
}

/* MODAL */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
    -webkit-appearance: none;
}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-148px);        
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-header {
    background-color: #009688;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-tickets {
    border: none;
    background-color: #009688;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px;
}

.buy-tickets:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}
